@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: "Silkscreen", sans-serif;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.silkscreen-regular {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
}

.silkscreen-bold {
  font-family: "Silkscreen", serif;
  font-weight: 700;
  font-style: normal;
}


/* Base styles */
:root {
  --background-color: #f9fafb;
  --text-color: #111827;
  --button-bg: #3b82f6;
  --button-text: #ffffff;
  --button-hover: #2563eb;
}

/* Dark mode styles */
:root.dark {
  --background-color: #111827;
  --text-color: #f9fafb;
  --button-bg: #2563eb;
  --button-text: #ffffff;
  --button-hover: #1d4ed8;
}

/* Apply variables */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--button-hover);
}
